@tailwind base;
@tailwind components;
@tailwind utilities;

td {
  vertical-align: top;
}

ul, ol {
  line-height: 1.5rem;
}

ol {
  list-style-type: decimal;
  padding: 0 1.5rem;
}

ul {
  padding: 0 1rem 0 1.1rem;
  list-style-type: disc;
  list-style-position: inside;
}

ul > li {
  margin: 0 0 0.5rem;
  text-indent: -1.1rem;
}

ul > ul, ol > ul {
  margin: 0.5rem 0 0 ;
  list-style: circle;
}

p {
  line-height: 1.5rem;
  margin: 0 0 1rem;
}

.testimonial-text > h2 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}
